body
    margin 0
    padding 0
    font-family "Helvetica Neue", Helvetica, Avenir, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

for i in 1...4
    h{i}
        margin 0

a
    cursor pointer
    text-decoration none

.clearfix
    &:before
    &:after
        content ""
        display table

    &:after
        clear both

.align-middle
    &:before
        content ""
        display inline-block
        height 100%
        vertical-align middle

    & > *
        display inline-block
        vertical-align middle

.align-center
    text-align center
