// 颜色规范
$color-primary = #409EFF                                   // 主色
$color-secondary = #909399                                 // 辅助色
$color-warning = #E6A23C                                   // 警告/提示
$color-success = #67C23A                                   // 成功/通过
$color-error = #F56C6C                                     // 异常/错误

$color-box-background = #E7EBEF                            // 背景色/分割线/表单选择版头框线
$color-box-border = #C7C7C7                                // 边框线
$color-box-head = #F6F7F9                                  // 失效/表单选择版头背景色
$color-box-dashed = #CBD0D5                                // 间隔线

$color-font-primary = #303133                              // 主要正文
$color-font-primary-H = #FAFAFA                            // 主要正文
$color-font-secondary = #909399                            // 次要文字
$color-font-assistant = #8E9BBA                            // 辅助信息文字
$color-font-hover = #409EFF                               // #195ECE
